* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-full {
    width: 100%;
    padding: 0;
}

.grid {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    transition: all 0.3s linear;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.col {
    padding-left: 12px;
    padding-right: 12px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.col-1 {
    flex: 0 0 8.33334%;
    max-width: 8.33334%;
}

.col-2 {
    flex: 0 0 16.66666%;
    max-width: 16.66666%;
}

.col-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.col-4 {
    flex: 0 0 33.33334%;
    max-width: 33.33334%;
}

.col-5 {
    flex: 0 0 41.666666%;
    max-width: 41.666666%;
}

.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.col-7 {
    flex: 0 0 58.33334%;
    max-width: 58.33334%;
}

.col-8 {
    flex: 0 0 66.66666%;
    max-width: 66.66666%;
}

.col-9 {
    flex: 0 0 75%;
    max-width: 75%;
}

.col-10 {
    flex: 0 0 83.33334%;
    max-width: 83.33334%;
}

.col-11 {
    flex: 0 0 91.66666%;
    max-width: 91.66666%;
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

/* lg */
@media (max-width: 1200px) {
    .col-lg-1,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12 {
        display: block;
    }

    .col-lg-1 {
        flex: 0 0 8.33334%;
        max-width: 8.33334%;
    }

    .col-lg-2 {
        flex: 0 0 16.66666%;
        max-width: 16.66666%;
    }

    .col-lg-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-lg-4 {
        flex: 0 0 33.33334%;
        max-width: 33.33334%;
    }

    .col-lg-5 {
        flex: 0 0 41.666666%;
        max-width: 41.666666%;
    }

    .col-lg-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-lg-7 {
        flex: 0 0 58.33334%;
        max-width: 58.33334%;
    }

    .col-lg-8 {
        flex: 0 0 66.66666%;
        max-width: 66.66666%;
    }

    .col-lg-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-lg-10 {
        flex: 0 0 83.33334%;
        max-width: 83.33334%;
    }

    .col-lg-11 {
        flex: 0 0 91.66666%;
        max-width: 91.66666%;
    }

    .col-lg-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .p-lg-1 {
        padding: 1rem;
    }

    .px-lg-1 {
        padding: 0 1rem;
    }

    .px-lg-2 {
        padding: 0 1.5rem;
    }
}

/* md */
@media (max-width: 980px) {
    .row {
        margin-left: -5px;
        margin-right: -5px;
    }

    .col {
        padding-left: 5px;
        padding-right: 5px;
    }

    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11,
    .col-md-12 {
        display: block;
    }

    .col-md-1 {
        flex: 0 0 8.33334%;
        max-width: 8.33334%;
    }

    .col-md-2 {
        flex: 0 0 16.66666%;
        max-width: 16.66666%;
    }

    .col-md-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-md-4 {
        flex: 0 0 33.33334%;
        max-width: 33.33334%;
    }

    .col-md-5 {
        flex: 0 0 41.666666%;
        max-width: 41.666666%;
    }

    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-md-7 {
        flex: 0 0 58.33334%;
        max-width: 58.33334%;
    }

    .col-md-8 {
        flex: 0 0 66.66666%;
        max-width: 66.66666%;
    }

    .col-md-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-md-10 {
        flex: 0 0 83.33334%;
        max-width: 83.33334%;
    }

    .col-md-11 {
        flex: 0 0 91.66666%;
        max-width: 91.66666%;
    }

    .col-md-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/* sm */
@media (max-width: 768px) {
    .row {
        margin-left: 0;
        margin-right: 0;
    }

    .col {
        padding-left: 10px;
        padding-right: 10px;
    }

    .col-sm-1,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12 {
        display: block;
    }

    .col-sm-1 {
        flex: 0 0 8.33334%;
        max-width: 8.33334%;
    }

    .col-sm-2 {
        flex: 0 0 16.66666%;
        max-width: 16.66666%;
    }

    .col-sm-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-sm-4 {
        flex: 0 0 33.33334%;
        max-width: 33.33334%;
    }

    .col-sm-5 {
        flex: 0 0 41.666666%;
        max-width: 41.666666%;
    }

    .col-sm-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-sm-7 {
        flex: 0 0 58.33334%;
        max-width: 58.33334%;
    }

    .col-sm-8 {
        flex: 0 0 66.66666%;
        max-width: 66.66666%;
    }

    .col-sm-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-sm-10 {
        flex: 0 0 83.33334%;
        max-width: 83.33334%;
    }

    .col-sm-11 {
        flex: 0 0 91.66666%;
        max-width: 91.66666%;
    }

    .col-sm-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/* xs */
@media (max-width: 540px) {
    .row {
        margin-left: 0;
        margin-right: 0;
    }

    .col {
        padding-left: 10px;
        padding-right: 10px;
    }

    .p-xs-0 {
        padding: 0;
    }

    .col-xs-1,
    .col-xs-2,
    .col-xs-3,
    .col-xs-4,
    .col-xs-5,
    .col-xs-6,
    .col-xs-7,
    .col-xs-8,
    .col-xs-9,
    .col-xs-10,
    .col-xs-11,
    .col-xs-12 {
        display: block;
    }

    .col-xs-1 {
        flex: 0 0 8.33334%;
        max-width: 8.33334%;
    }

    .col-xs-2 {
        flex: 0 0 16.66666%;
        max-width: 16.66666%;
    }

    .col-xs-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-xs-4 {
        flex: 0 0 33.33334%;
        max-width: 33.33334%;
    }

    .col-xs-5 {
        flex: 0 0 41.666666%;
        max-width: 41.666666%;
    }

    .col-xs-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-xs-7 {
        flex: 0 0 58.33334%;
        max-width: 58.33334%;
    }

    .col-xs-8 {
        flex: 0 0 66.66666%;
        max-width: 66.66666%;
    }

    .col-xs-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-xs-10 {
        flex: 0 0 83.33334%;
        max-width: 83.33334%;
    }

    .col-xs-11 {
        flex: 0 0 91.66666%;
        max-width: 91.66666%;
    }

    .col-xs-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
